@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Set base defaults */
@layer base {
  :root {
    --primary-color: #556B2F;
    --background-color: #f0f0f0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin-left: 5%;
    margin-right: 5%;
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  a:hover {
    text-decoration: underline;
  }

/* 
  h1 {
    font-weight: 700; 
  } */
}

@layer components {
  .header {
    /* background-color: lightgrey; */
    display: flex;
    align-items: center; /* centers items vertically */
    justify-content: space-between; /* places items as far apart as possible */
    height: 75px;
  }

  .header-list {
    list-style: none; /* remove bullet points */
    display: flex; /* display items in a row */
    gap: 25px;
  }

  .intro {
    /* background-color: lightblue; */
    margin-left: 20%;
  }
}

/* diagonal fade in animation */
@keyframes diagonalFadeIn {
  0% {
    opacity: 0;
    transform: translate(-2%, -2%); /* fade in position */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* end at normal position */
  }
}

/* apply animation to the target element */
.fade-in-diagonal {
  animation: diagonalFadeIn 0.75s ease-out forwards;
  opacity: 50%; 
}
