@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

/* Set base defaults */
@layer base {
  :root {
    --primary-color: #000000;/*556B2F*/
    --secondary-color: #556B2F; /* #B22F6B */
    --background-color: #fafafa;
    --lighter-grey: #ebebeb;
    --light-grey: #e0e0e0;
  }
  
  body {
    font-family: 'Geist', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    font-family: inherit;  /* inherit font family and size from parent element */
    font-size: inherit;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
  }

  button:hover {
    background-color: var(--secondary-color);
    color: var(--background-color)
  }
}

.list {
  @apply list-none flex gap-[25px] p-0
}

.custom-heading {
  @apply font-custom font-bold text-4xl pt-14 pb-6;
}

/* diagonal fade in animation */
@keyframes diagonalFadeIn {
  0% {
    opacity: 0;
    transform: translate(-2%, -2%); /* fade in position */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* end at normal position */
  }
}

/* apply animation to the target element */
.fade-in-diagonal {
  animation: diagonalFadeIn 1.25s ease-out forwards;
  opacity: 50%; 
}
